body {
    user-select: none;
    box-sizing: border-box;
    font-family: "Bungee", sans-serif;
    background-color: beige;
    margin: 0;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    
}
.main {
    display: flex;
    user-select: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    column-gap: 70px;
    row-gap: 15px;
}

.grid-container {
    /* border-style: solid; 
    border-color: black; 
    border-width: 2px;  */
    user-select: none; 
    background-color: white; 
    padding: 0px; 
    width: 500px; 
    max-width: 500px; 
    height: 500px; 
    max-height: 500px; 
    display: flex; 
    flex-direction: column;
    box-shadow: 6px 6px 7px 4px grey;
    /* margin-left: 5%; */
}

.one-row {
    display: flex; 
    flex: 1 1 auto; 
    justify-content: center; 
    box-sizing: border-box
}

.one-square {
    box-sizing: border-box; 
    display: flex; 
    flex: 1 1 auto; 
    border-color: black; 
    border-style: solid; 
    border-width: 0.1px; 
    border-color: #eeeeee;
}

.header {
    line-height: 1;
    padding: 0;
    color: purple;
    font-size: 52px;
    margin: 0 auto;
    font-weight: bolder;
}

.footer {
    padding-bottom: 5px;
    color: purple;
    font-size: 24px;
    margin: 0 auto;
}

.buttons-wrapper {
    /* position: absolute; */
    /* left: 15%; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 0 1 auto;
}

button {
    background-color: transparent;
    font-size: 18px;
    padding: 10px 50px;
    font-weight: bold;
    max-width: 300px;
    border-radius: 10px;
}
    #change-grid:hover {background-color: #8eff72}
    #grid-toggle:hover {background-color: #8eff72}
    #transparent-toggle:hover {background-color: #8eff72}



    #red-color:hover {background-color: rgb(241, 172, 241)}
    #rng-colors:hover {background-color: rgb(241, 172, 241)}
    #eraser:hover {background-color: rgb(241, 172, 241)}
    #clear:hover {background-color: rgb(241, 172, 241)}


    .one-square:hover {
        box-shadow: inset 0 0 1px 1px black;
    }

    #color-picker:hover {
        box-shadow: 0 0 1px 1px black;
        padding: 0;
        border: 0;
    }

    .color-box:hover {
        box-shadow: 0 0 1px 1px black;
    }

 /* #change-grid {
     margin-bottom: 100px; 
     background-color: cyan; 
 }

 #grid-toggle {
    background-color: cyan;
}

#rng-colors {
    background-color: rgb(203, 49, 203);
} */

/* #red-color {
    margin-top: auto;
} */

/* #eraser {
    background-color: beige;
}

#clear {
    background-color: white;
}  */




.instructions {
    font-size: 38px;
    font-weight: 100;
    white-space: pre-line;
    text-align: center;
    align-self: center;
}

.selected {
    background-color: rgb(241, 172, 241);

}

.grid-selected {
    background-color: #8eff72;
}


#modes {
    font-size: 20px;
}


.choose-color-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 #color-picker {
    width: 60px;
    height: 40px;
    box-sizing: border-box;
    padding: 0;
    border: 0;
} 


.color-box {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    /* background-color: #ffffff; */
}

#box1 {
    background-color: #ff0000;
}

#box2 {
    background-color: #5d00ff;
}

#box3 {
    background-color: #00ff2f;
}

.color-box-wrapper {
    display: flex;
    gap: 4px;
}


.color-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

