body {
    padding: 50px;
    margin: 0;
    align-content: center;
    
}

 .grid-container { 
    margin: 0;
    padding: 0;
    background-color: red;
    width: 500px;
    max-width: 500px;
    height: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin:auto;
} 